.btn-info{
   text-decoration: none;
   border: 1px solid gray;
   color: #1C1A1A;
   background: #F0E8E6 ;
   padding-bottom: 2.5px;
   border-radius: 2px;
}
.btn-info:active{
   background: #D0BFBF;
}
